.visibility {
    position: relative;
    top: -39px;
    left: 350px;
}

.password {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  width: 94%;
}
 .passwordWrapper {
    height: 55px;
    margin-bottom: 10px;
 }